@import "tailwindcss";
body{
     background-color: #141414 !important;
}
.w-100{
    height: 580px;
    opacity: 80%;

}
.carousel-item{
    position: relative;
  color: white;

}
.titulo-imagen{
    position:absolute;
    bottom: 1rem; 
    left: 5rem;
    font-size: 8rem;
    width: 30%;
    line-height: 100%;
    font-weight: bold;
      text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5); /* Sombra negra con 50% de opacidad */

}
.textimg{
position:absolute;
width: 50%;
left: 5rem;
margin-top: 1%;
text-align: justify;
font-weight: bold;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5); /* Sombra negra con 50% de opacidad */


}
.container-texto-imagen{
position:absolute;
width: 80%;         
top:60%; 
text-align:left; 
left: 10%;
}
.btn{
position:absolute;
top: 90%;
left: 30%;
width: 150px;
background-color: #C50000 !important;
font-weight: bold !important;
border: none !important;
}
.imagen{
    mask-image: linear-gradient(black 80%, transparent);
}
.buscar{
width: 150px;
    display: block;           
    margin: 0 auto;           
    text-align: center; 
}
.form-control{
    margin-top: 5rem;
    background-color:#141414 !important;
    border-color: #C50000 !important;
    border-width: 2px !important;
    
}
.form-control::placeholder{
    color: white !important;
    font-weight: bold !important;

}
.secciones{
    padding-left: 10%;
}
.titulo{
    color: white;
    font-weight: bold;
}
.navbar{
    background-color: #141414;
    opacity: 80%;
    position: absolute;
}
.img-card{
    width: 185px;
    height: 270px;
    border-radius: 15px;
    mask-image: linear-gradient(black 80%, transparent);

}
.text-card{
    max-width: 185px;
    font-size: 26px;
    color: white;
    font-weight:bold ;
}
.subtitulo-card{
        font-size: 20px;
        color: rgb(129, 129, 129);

}
.cards-peliculas{
display: flex;
}
.card-pelicula:not(:first-child){
position: relative;
margin-left: 4%;
}
