backend/.venv
frontend/.venv
frontend/.flaskenv

frontend/node_modules

.env
__pycache__/
*.pyc
frontend/__pycache__/
backend/__pycache__/
backend/repositories/__pycache__/
backend/services/__pycache__/
backend/routes/__pycache__/
backend/utils/__pycache__/
/backend/.env
frontend/.flaskenv
