<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Proyecto</title>

    <link 
        rel="stylesheet" 
        href="{{ url_for('static', filename='css/main.css', _external=True) }}"
    >


    <link 
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" 
        rel="stylesheet"
    >
</head>

<body class="bg-[#141414] text-white">

    <nav class="absolute w-full bg-[#141414]/80">
        <div class="container mx-auto">
            <div class="flex justify-start space-x-4 py-4">
                <a href="#" class="text-white font-bold">Home</a>
                <a href="#" class="text-white">En cines</a>
                <a href="#" class="text-white">Ayuda</a>
                <span class="text-gray-500 cursor-not-allowed">Contacto</span>
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock %}

</body>

</html>