{% extends "base.html" %}
{%block body%}






<body class="text-white bg-gradient-to-b from-gray-900 to-black text-gray-200 font-sans">


    <section class="buscar flex flex-col space-y-6 translate-x-[3%]">
        <div class="flex items-center gap-2 border rounded-lg px-8 py-2 text-gray-300 w-fit">
            <span class="text-justify inline-block align-middle">Enero 2025</span>
        </div>
        <div class="flex items-center w-1/2 border border-gray-600 rounded-lg px-4 py-2 bg-transparent text-gray-300">
            <input id="buscar_peli" type="text" placeholder="🔎 Búsqueda de películas"
                class="w-full bg-transparent outline-none text-gray-200 placeholder-gray-400 font-semibold">
        </div>
        <div class="resultados">
            <div class="resultado px-3">
                <h3>Resultado</h3>
            </div>


        </div>
        <div class="flex items-center gap-2 border border-gray-600 rounded-lg px-4 py-2 text-gray-300 w-fit">
            <span class="font-semibold ">Animación</span>
        </div>
    </section>


    <script>


        const buscar_Peli = document.getElementById("buscar_peli");




    </script>







    <div class="mt-10 ml-10">
        <div class="grid grid-cols-4 gap-2">

            <div class="relative mt-10 shadow-lg">
                <img src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
                    class="w-[185px] h-[270px] rounded-lg" />
                <h1 class="max-w-[185px] font-bold mt-1">Rápido y Furioso</h1>
                <h5 class="font-semibold mt-0.2 text-gray-500">2h 45'</h5>

            </div>

            <div class="relative mt-10 shadow-lg">
                <img src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
                    class="w-[185px] h-[270px] rounded-lg" />
                <h1 class="max-w-[185px] font-bold mt-1">Rápido y Furioso</h1>
                <h5 class="font-semibold mt-0.2 text-gray-500">2h 45'</h5>

            </div>
            <div class="relative mt-10 shadow-lg">
                <img src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
                    class="w-[185px] h-[270px] rounded-lg" />
                <h1 class="max-w-[185px] font-bold mt-1">Rápido y Furioso</h1>
                <h5 class="font-semibold mt-0.2 text-gray-500">2h 45'</h5>

            </div>
            <div class="relative mt-10 shadow-lg">
                <img src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
                    class="w-[185px] h-[270px] rounded-lg" />
                <h1 class="max-w-[185px] font-bold mt-1">Rápido y Furioso</h1>
                <h5 class="font-semibold mt-0.2 text-gray-500">2h 45'</h5>

            </div>
            <div class="relative mt-10 shadow-lg">
                <img src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
                    class="w-[185px] h-[270px] rounded-lg" />
                <h1 class="max-w-[185px] font-bold mt-1">Rápido y Furioso</h1>
                <h5 class="font-semibold mt-0.2 text-gray-500">2h 45'</h5>

            </div>
            <div class="relative mt-10 shadow-lg">
                <img src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
                    class="w-[185px] h-[270px] rounded-lg" />
                <h1 class="max-w-[185px] font-bold mt-1">Rápido y Furioso</h1>
                <h5 class="font-semibold mt-0.2 text-gray-500">2h 45'</h5>

            </div>

            <!-- ... más cards iguales -->
        </div>
    </div>



    <section class="secciones mt-32 min-h-screen flex">
        <h2 class="titulo text-3xl px-6 font-bold translate-x-[3%]">Películas destacadas</h2>
        {% for p in peliculas %}

        <div class="cards-peliculas grid grid-cols-4 gap-4 justify-items-center mt-32">
            <div class="card-pelicula">
                <img src="{{ url_for('static', filename='img/gladiator.jpg') }}" alt="Gladiator"
                    class="img-card w-48 h-64 object-cover rounded-t-2xl shadow-lg">
                <div class="bg-gray-800 text-white w-48 rounded-b-2xl p-3 text-center shadow-md">
                    <h3 class="text-lg font-semibold">{{p.titulo}}</h3>
                    <p class="text-sm text-gray-300">{{p.genero}}</p>
                </div>
            </div>
        </div>

        {% endfor %}
    </section>

</body>

</html>


{% endblock %}