{% extends "base.html" %}
{% block body %}
<div class="relative w-full ">
  <div id="carousel" class="relative w-full h-[800px] overflow-hidden rounded-lg">

    <div class="slide absolute w-full h-full opacity-0 transition-opacity duration-700">
      <div class="relative w-full h-[800px]">
        <img
          src="https://beam-images.warnermediacdn.com/BEAM_LWM_DELIVERABLES/87dba8e5-aade-4d6b-af2b-917471ba6b43/5c116b9b-27eb-48f8-97ab-1ec044fd9a28?host=wbd-images.prod-vod.h264.io&partner=beamcom"
          class="absolute w-full h-full object-cover" />
        <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/40 to-transparent"></div>
        <div class="absolute top-[60%] left-[10%] w-[80%] text-left text-white">
          <h1 class="text-7xl font-bold drop-shadow-md">Lorem ipsum</h1>
          <p class="mt-4 w-1/2 text-lg font-semibold">Lorem ipsum dolor sit amet.</p>
          <button class="mt-8 px-6 py-3 bg-red-700 hover:bg-red-800 font-bold rounded-lg">Comprar ticket</button>
        </div>
      </div>
    </div>

    <div class="slide absolute w-full h-full opacity-0 transition-opacity duration-700">
      <div class="relative w-full h-[800px]">
        <img
          src="https://beam-images.warnermediacdn.com/BEAM_LWM_DELIVERABLES/87dba8e5-aade-4d6b-af2b-917471ba6b43/5c116b9b-27eb-48f8-97ab-1ec044fd9a28?host=wbd-images.prod-vod.h264.io&partner=beamcom"
          class="absolute w-full h-full object-cover" />
        <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/40 to-transparent"></div>
        <div class="absolute top-[60%] left-[10%] w-[80%] text-left text-white">
          <h1 class="text-7xl font-bold">Dolor sit amet</h1>
          <p class="mt-4 w-1/2 text-lg font-semibold">Ut enim ad minim veniam.</p>
          <button class="mt-8 px-6 py-3 bg-red-700 hover:bg-red-800 font-bold rounded-lg">Comprar ticket</button>
        </div>
      </div>
    </div>

    <div class="slide absolute w-full h-full opacity-0 transition-opacity duration-700">
      <div class="relative w-full h-[800px]">
        <img
          src="https://beam-images.warnermediacdn.com/BEAM_LWM_DELIVERABLES/87dba8e5-aade-4d6b-af2b-917471ba6b43/5c116b9b-27eb-48f8-97ab-1ec044fd9a28?host=wbd-images.prod-vod.h264.io&partner=beamcom"
          class="absolute w-full h-full object-cover" />
        <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/40 to-transparent"></div>
        <div class="absolute top-[60%] left-[10%] w-[80%] text-left text-white">
          <h1 class="text-7xl font-bold">Consectetur elit</h1>
          <p class="mt-4 w-1/2 text-lg font-semibold">Nisi ut aliquid ex ea commodi consequatur.</p>
          <button class="mt-8 px-6 py-3 bg-red-700 hover:bg-red-800 font-bold rounded-lg">Comprar ticket</button>
        </div>
      </div>
    </div>
  </div>

  <button id="prev"
    class="absolute top-1/2 left-4 z-30 w-10 h-10 bg-black/40 hover:bg-black/70 text-white rounded-full">
    ❮
  </button>
  <button id="next"
    class="absolute top-1/2 right-4 z-30 w-10 h-10 bg-black/40 hover:bg-black/70 text-white rounded-full">
    ❯
  </button>
</div>



</div>
<div class="mt-10 flex justify-center">
  <input
    class="border-2 rounded-md border-red-700 hover:border-red-800 w-[150px] h-[40px] text-center placeholder:text-white"
    placeholder="Buscar peliculas">
</div>

<div class="mt-10 ml-32">
  <h1 class="font-bold text-2xl mb-4">Más populares</h1>

  <div
    class="flex space-x-10 overflow-x-auto pb-4 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200 max-w-[90%] shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.25)">

    <div class="card-pelicula cursor-pointer " onclick="location.href='/funciones?pelicula=1'">
      <img
        src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
        alt="Rápido y Furioso" class="img-card w-48 h-64 object-cover rounded-2xl shadow-lg">

      <div class="text-white w-48 rounded-b-2xl shadow-md">
        <h3 class="text-lg font-semibold">Rápido y Furioso</h3>
        <div class="flex justify-between text-sm text-gray-300">
          <p>Acción</p>
          <p>145'</p>
        </div>
      </div>
    </div>

    <div class="card-pelicula cursor-pointer pl-16" onclick="location.href='/funciones?pelicula=1'">
      <img
        src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
        alt="Rápido y Furioso" class="img-card w-48 h-64 object-cover rounded-2xl shadow-lg">

      <div class="text-white w-48 rounded-b-2xl shadow-md">
        <h3 class="text-lg font-semibold">Rápido y Furioso</h3>
        <div class="flex justify-between text-sm text-gray-300">
          <p>Acción</p>
          <p>145'</p>
        </div>
      </div>
    </div>

    <div class="card-pelicula cursor-pointer pl-16 " onclick="location.href='/funciones?pelicula=1'">
      <img
        src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
        alt="Rápido y Furioso" class="img-card w-48 h-64 object-cover rounded-2xl shadow-lg">

      <div class="text-white w-48 rounded-b-2xl shadow-md">
        <h3 class="text-lg font-semibold">Rápido y Furioso</h3>
        <div class="flex justify-between text-sm text-gray-300">
          <p>Acción</p>
          <p>145'</p>
        </div>
      </div>
    </div>

    <div class="card-pelicula cursor-pointer pl-16" onclick="location.href='/funciones?pelicula=1'">
      <img
        src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
        alt="Rápido y Furioso" class="img-card w-48 h-64 object-cover rounded-2xl shadow-lg">

      <div class="text-white w-48 rounded-b-2xl shadow-md">
        <h3 class="text-lg font-semibold">Rápido y Furioso</h3>
        <div class="flex justify-between text-sm text-gray-300">
          <p>Acción</p>
          <p>145'</p>
        </div>
      </div>
    </div>
    <div class="card-pelicula cursor-pointer pl-16" onclick="location.href='/funciones?pelicula=1'">
      <img
        src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
        alt="Rápido y Furioso" class="img-card w-48 h-64 object-cover rounded-2xl shadow-lg">

      <div class="text-white w-48 rounded-b-2xl shadow-md">
        <h3 class="text-lg font-semibold">Rápido y Furioso</h3>
        <div class="flex justify-between text-sm text-gray-300">
          <p>Acción</p>
          <p>145'</p>
        </div>
      </div>
    </div>
    <div class="card-pelicula cursor-pointer pl-16" onclick="location.href='/funciones?pelicula=1'">
      <img
        src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
        alt="Rápido y Furioso" class="img-card w-48 h-64 object-cover rounded-2xl shadow-lg">

      <div class="text-white w-48 rounded-b-2xl shadow-md">
        <h3 class="text-lg font-semibold">Rápido y Furioso</h3>
        <div class="flex justify-between text-sm text-gray-300">
          <p>Acción</p>
          <p>145'</p>
        </div>
      </div>
    </div>
    <div class="card-pelicula cursor-pointer pl-16" onclick="location.href='/funciones?pelicula=1'">
      <img
        src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
        alt="Rápido y Furioso" class="img-card w-48 h-64 object-cover rounded-2xl shadow-lg">

      <div class="text-white w-48 rounded-b-2xl shadow-md">
        <h3 class="text-lg font-semibold">Rápido y Furioso</h3>
        <div class="flex justify-between text-sm text-gray-300">
          <p>Acción</p>
          <p>145'</p>
        </div>
      </div>
    </div>
    <div class="card-pelicula cursor-pointer pl-16" onclick="location.href='/funciones?pelicula=1'">
      <img
        src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
        alt="Rápido y Furioso" class="img-card w-48 h-64 object-cover rounded-2xl shadow-lg">

      <div class="text-white w-48 rounded-b-2xl shadow-md">
        <h3 class="text-lg font-semibold">Rápido y Furioso</h3>
        <div class="flex justify-between text-sm text-gray-300">
          <p>Acción</p>
          <p>145'</p>
        </div>
      </div>
    </div>
    <div class="card-pelicula cursor-pointer pl-16" onclick="location.href='/funciones?pelicula=1'">
      <img
        src="https://m.media-amazon.com/images/M/MV5BODQ4MGRiMDEtZTViZS00M2Y3LThkZjctMmM4YmEwNmZkMDQxXkEyXkFqcGc@._V1_.jpg"
        alt="Rápido y Furioso" class="img-card w-48 h-64 object-cover rounded-2xl shadow-lg">

      <div class="text-white w-48 rounded-b-2xl shadow-md">
        <h3 class="text-lg font-semibold">Rápido y Furioso</h3>
        <div class="flex justify-between text-sm text-gray-300">
          <p>Acción</p>
          <p>145'</p>
        </div>
      </div>
    </div>

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>


<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>


{% endblock %}